---
- hosts: all
  remote_user: root

  tasks:

  - name: Set authorized key taken from file for root
    authorized_key:
      user: root
      state: present
      key: "{{ lookup('file', 'id_rsa.pub') }}"

  - name: Install required packages
    package:
      name:
        - gnupg2
      state: present

